<% if @guess %>
 <% if !@guess.is_correct? %>
  <h3>Your answer was wrong!</h3>
  <h3><%= @guess.card.question %></h3>
  <h3>The correct answer is:</h3>
  <h3><%= @guess.card.answer %></h3>
 <% else %>
  <h3>You answered correctly!</h3>
  <% end %>
<% end %>

<div class='form'>
  <form action='/decks/<%= @deck.id %>/rounds/<%= @round.id %>/cards/<%=@card.id %>' method='POST'>

    <div><input type='submit' value='Next'></div>
  </form>
</div>
